@import "bootstrap-custom.css";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-size: 16px;
}

body {
	background-color: var(--gray);
	font-family: var(--font-family-sans-serif);
}

#bodymovin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	padding: 1rem;
}

.header__title,
.header__player,
.header__options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*margin-bottom: 1rem;*/
}

.header__title {
	color: #fff;
}

.nav-item {
	margin: 0 0.5rem;
}

.header__player, .nav-item,
.header__options .nav-item {
	margin-bottom: 1rem;
}

.icon-play::before {
	content: '';
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	margin-right: 0.3rem;
	background: no-repeat center center;
	background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='play' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-play fa-w-14'%3E%3Cpath fill='currentColor' d='M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z' class=''%3E%3C/path%3E%3C/svg%3E");
}

.infobox {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	width: 355px;
	height: 300px;
	padding: .25rem .5rem;
	font-size: .7rem;
	line-height: 1.5;
	border-radius: .2rem;
	color: #212529;
	background-color: var(--light);
	border: 1rem solid var(--light);
	overflow: auto;
	font-family: var(--font-family-monospace);
	box-sizing: content-box;
}

.infobox::-webkit-scrollbar {
	width: 0.25rem;
	height: 100%;
}

.infobox::-webkit-scrollbar-thumb {
	background-color: #dae0e5;
	border-radius: 0.2rem;
}

.input-group._speed {
	width: 8.5rem;
}

.input-group._bg-color {
	width: 9rem;
}

.input-group._size input[type="range"] {
	width: 7rem;
}

.input-group._size input[type="number"] {
	width: 4rem;
}

.input-group._custom-segment input[type="number"] {
	width: 4rem;
}

.footer {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	border-radius: .2rem;
	color: #212529;
	background-color: var(--light);
	border: 1rem solid var(--light);
}

.footer__disclaim {
	line-height: 1.1;
}

.github-link {
	padding-left: 1.4rem;
	background: no-repeat left center;
	background-size: 1rem;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"%3E%3Cpath fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"%3E%3C/path%3E%3C/svg%3E');
}